* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}
body {
    background-image: url();
    background-position: top;
}
.header {
    height: 900px;
    position: relative;
}
.slider__auto {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.slider__auto .slick-slide img {
    width: 100%;
    height: 900px;
    object-fit: cover;
    object-position: center top;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.header__headline {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
}
.header__logo--main {
    display: block;
    padding: 0;
    margin: 0;
}
.header__logo--main:focus {
    outline: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.header__nav {
    padding-top: 55px;
    overflow: hidden;
}
.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav__link {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-decoration: none;
    letter-spacing: -0.01em;
    position: relative;
    padding: 30px 15px;
}
.nav__link:after {
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: calc(100% - 15px * 2);
    height: 5px;
    background-color: #cfe1e3;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(30px);
    transition: .3s;
}
.nav__link:hover:after {
    opacity: 1;
    transform: translateY(0);
}
.nav__link:focus {
    color: #db748a;
    outline: none;
}
.nav__img {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 5px 0px;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
}
h1 {
	color: #a1d3ce;
	font-family: 'Pacifico';
	font-size: 100px;
	font-weight: 400;
    line-height: 72px;
    padding-top: 190px;
}
h2 {
	color: #666;
	font-family: 'Pacifico';
	font-size: 60px;
	font-weight: 400;
	line-height: 72px;
    padding-top: 10px;
}
h3 {
	color: #474747;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 400;
    line-height: 36px;
    padding-top: 20px;
    padding-bottom: 35px;
}
.btn__header {
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: block;
    background-color: #db748a;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Raleway';
    text-align: center;
    padding: 15px 37px;
    transition: .3s;
    width: 270px;
    height: 60px;
}
.btn__header:hover {
    background-color: #e67b94;
    box-shadow: 0 5px 14.3px 0.8px rgba(219, 116, 138, 0.35);
}
.btn__header:focus {
    outline: none;
}
.btn__header:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e67b94;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
  }
#topBtn:hover {
    background-color: #cfe1e3;
    color: #e67b94;
    box-shadow: 0 5px 14.3px 0.8px rgba(219, 116, 138, 0.35);
  }
.about {
    min-height: 462px;
    background-color: #faeaee;
}
.about__header {
    text-align: center;
    color: #1c1c1c;
	font-family: 'Pacifico';
	font-size: 48px;
	font-weight: 400;
    line-height: 29px;
    padding-top: 58px;
    padding-left: 100px;
}
.row--about {
    color: #474747;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 400;
    line-height: 36px;
}
.portfolio {
    height: 1290px;
    background-image: url(../img/assorti_back_01.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-position-x: 0%;
}
.cupcakes, .cookies {
    display: none;
}
.portfolio__header {
	color: #303030;
	font-family: 'Pacifico';
	font-size: 48px;
	font-weight: 400;
    line-height: 29px;
    text-align: center;
    padding-top: 105px;
    padding-left: 20px;
    margin-top: 0;
}
.portfolio__nav {
    display: flex;
    justify-content: center;
}
.portfolio__gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 37px;
}
.portfolio__cake, .portfolio__cupcake {
    position: relative;
    display: block;
}
.portfolio__btn {
    border: none;
    outline: none;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: black;
    background-color: transparent;
    cursor: pointer;
}
.filter__link {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-decoration: none;
    letter-spacing: -0.01em;
    position: relative;
    padding: 30px 5px;
}
.filter__link:after {
    position: absolute;
    bottom: 20px;
    left: 5px;
    width: calc(100% - 5px * 2);
    height: 5px;
    background-color: #cfe1e3;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(30px);
    transition: .3s;
}
.filter__link:hover:after {
    opacity: 1;
    transform: translateY(0);
}
.filter__link:focus {
    color: #db748a;
    outline: none;
}
.portfolio__image {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.portfolio__image img {
    display: block;
    width: 100%;
    height: auto;
}
.portfolio__overlay {
    position: absolute;
    background-color:rgba(207, 225, 227, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    opacity: 0;
    transition: 0.5s;
}
.portfolio__text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 270px;
	height: 45px;
    color: #303030;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 700;
    line-height: 27px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}
.portfolio__image:hover .portfolio__overlay {
    display: block;
    opacity: 1;
    transition: 0.5s;
}
.portfolio__type {
    color: #474747;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 400;
    line-height: 29px;
}
.portfolio__type--bold {
    font-weight: 700;
}
.type__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}
.work {
    height: 491px;
    background-image: url(../img/how_we_work_back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.work__header {
    text-align: center;
	color: #303030;
	font-family: 'Pacifico';
	font-size: 48px;
	font-weight: 400;
    line-height: 36px;
    padding-top: 55px;
}
.work__img {
    padding-left: 90px;
}
.work__bald {
    color: #303030;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 700;
    line-height: 29px;
    text-align: center;
}
.work__stage {
    color: #474747;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 400;
    line-height: 27px;
    text-align: center;
}
.gallery {
    height: 885px;
    background-image: url(../img/assorti_back_02.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.gallery__header {
    text-align: center;
    color: #303030;
	font-family: 'Pacifico';
	font-size: 45px;
	font-weight: 400;
    line-height: 29px;
    padding-top: 60px;
    padding-left: 60px;
}
.gallery__main {
    /*display: flex; если не убрать, в IE11 слайдер расползается */
    flex-direction: row;
    justify-content: space-between;
}
.gallery__img {
    padding-bottom: 20px;
}
.review {
    height: 510px;
    background-color: #eac3cf;
}
.review__main {
    /*display: flex; - лишнее, переставить вниз*/
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    color: #474747;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 400;
    line-height: 36px;
}
.slide .review {
    display: flex;
}
.review__header {
    text-align: center;
    color: #303030;
	font-family: 'Pacifico';
	font-size: 48px;
	font-weight: 400;
	line-height: 29px;
    padding-top: 60px;
}
.review__img {
    padding-top: 30px;
}
.order {
    height: 615px;
    background-image: url(../img/order_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.order__header {
    color: #303030;
	font-family: 'Pacifico';
	font-size: 44px;
	font-weight: 400;
    line-height: 29px;
    padding-top: 110px;
    margin-top: 0;
}
.order__text {
    color: #474747;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 400;
    line-height: 36px;
    margin: 0;
}
.order__name, .order__tel {
    width: 645px;
    height: 70px;
    border: none;
	background-color: #fbf8fa;
	box-shadow: 0 5px 14.3px 0.8px rgba(71, 71, 71, 0.15);
	color: #474747;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 400;
    line-height: 22px;
    padding-left: 20px;
    margin: 10px 0px;
}
.order__name:focus, .order__tel:focus {
    outline-color: #db748a; 
    opacity: 0.6;
} 
.order__tel {
    margin-bottom: 20px;
}
.footer {
    height: 400px;
    background-color: #b7d9dd;
}
.row--back {
    padding-top: 125px;
}
.footer__contacts {
    color: white;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
}
.footer__contacts a:focus {
    outline: none;
}
.contacts__img {
    padding-right: 15px;
}
.contacts__phone {
    padding-left: 45px;
}
.social__cards {
    /*display: flex; - лишнее*/
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 25px 5px;
    color: white;
    font-size: 50px;
}
.social__cards a:focus, .social__cards a:active {
    outline: none;
}
.cards__back {
    display: none;
}
.cards:hover .cards__front {
    display: none;
}
.cards:hover .cards__back {
    display: block;
    transition: 0.5s;
}
.copyright {
    color: white;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 700;
    padding-top: 55px;
    text-align: center;
}
.slide {
    outline: none;
}
.slick-dots li {
    margin: 0px 10px;
    width: auto;
    height: auto;
}
.slick-dots li button {
    width: 15px;
    height: 15px;
    background-color: #faeaee;;
    border-radius: 50%;
}
.slick-dots li.slick-active button {
    outline: none;
}
.slick-dots li img:nth-child(1) {
    display: block;
}
.slick-dots li img:nth-child(2) {
    display: none;
}
.slick-dots li.slick-active img:nth-child(1) {
    display: none;
}
.slick-dots li.slick-active img:nth-child(2) {
    display: block;
}
.slick-dots li button:before {
    display: none;
}
.gallery__main .slick-dots li {
    position: relative; top: 30px;
}
.nav__list #myTopnav {
    display: none;
}
@media (max-width: 1400px) {
    .header {
        height: 100vh;
    }
    .slider__auto .slick-slide img {
        height: 100vh;
    }
    h1 {
        padding-top: 70px;
    }
 }
@media screen and (max-width: 320px) {
    .header__headline {
        padding-top: 5px;
    }
    .header__nav {
        padding-top: 5px;
        margin-left: 80px;
        position: absolute;
        z-index: 1;
    }
    .nav__link {
        font-size: 14px;
        padding: 10px 5px;
        background-color: #e67b94;
    }
    h1 {
        font-size: 2.5em;
        line-height: 20px;
        padding-top: 70px;
    }
    h2 {
        font-size: 1.5em;
        line-height: 20px;
        margin-top: 15px;
    }
    h3 {
        font-size: 0.8em;
        line-height: 20px;
        padding-bottom: 15px;
        margin-right: 40px;
    }
    .btn__header {
        width: 130px;
        height: 30px;
        font-size: 14px;
        padding: 5px 15px;
    }
    .header__logo--main {
        width: 70%;
    }
    .about {
        min-height: 330px;
    }
    .about__header {
        font-size: 1.5em;
        padding-top: 20px;
        padding-left: 0px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: center;
    }
    .row--about {
        font-size: 0.8em;
        line-height: 20px;
        text-align: center;
    }
    .col {
        flex: 100%;
        max-width: 100%;
    }
    .icon_about {
        max-width: 50%;
    }
    .portfolio {
        height: 2200px;
    }
    .portfolio__header, .work__header, .gallery__header, .review__header, .order__header {
        font-size: 1.5em;
        padding: 30px 0px 0px 0px;
    }
    .portfolio__text, .type__info {
        font-size: 0.7em;
        line-height: 20px;
    }
    .portfolio__text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16.875em;
        height: 3em;
    }
    .work {
        height: 750px;
    }
    .work__bald, .work__stage {
        font-size: 1em;
        line-height: 20px;
        text-align: center;
    }
    .work__img {
        display: none;
    }
    .gallery {
        height: 1500px;
    }
    .gallery__main img {
        display: flex;
        max-width: 100%;
        padding: 2px 2px;
    }
    .review {
        height: 500px;
    }
    .review__main {
        font-size: 0.8em;
        line-height: 20px;
    }
    .review__img {
        padding-top: 0;
        padding-left: 3.5em;
    }
    .quote__img {
        display: none;
    }
    .order {
        height: 450px;
    }
    .order__text {
        font-size: 0.8em;
    }
    .order__name, .order__tel {
        font-size: 0.8em;
        line-height: 50px;
        width: 100%;
        height: auto;
    }
    .order--form {
        display: none;
    }
    .order--320 {
        display: block;
    }
    .footer {
        height: 650px;
        text-align: center;
    }
    .row--back {
        padding-top: 15px;
    }
    .footer__contacts {
        font-size: 0.8em;
        line-height: 22px;
    }
    .contacts__img {
        display: none;
    }
    .contacts__phone {
        padding-left: 0;
    }
    .social__cards {
        padding: 0;
    }
    .instagram {
        padding-right: 10%;
    }
    .copyright {
        padding-top: 0;
    }
 }
 @media screen and (max-width: 700px) {
    .nav__list {
        display: none;
    }
    .nav__img {
        display: none;  
    }
    .nav__list a.icon {
        display: block;
    }
    .nav__list.responsive {position: relative;}
    .nav__list.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav__list.responsive a {
        display: block;
    }
    .nav__list.responsive {
        display: block;
        position: relative;
        width: 100%;
    }
}